body {
	box-sizing: border-box;
}
label,
input,
select,
textarea,
iframe {
	padding: 5px;
}
textarea {
	height: 100px;
}
.float-child {
	width: 50%;
	float: left;
	padding: 10px;
	border: 2px solid red;
}
.grid {
	display: grid;
	max-width: 40rem;
	gap: 10px;
}
.col-1 {
	grid-column: 1;
}
.col-2 {
	grid-column: 2;
}
.span-cols {
	grid-column: 1 / 3;
}
